/* Footer Styling */
.footer-row {
  display: flex;
}
.footer-col1 {
  /* display: flex; */
  margin-left: 5rem;
}

.footer-col2 {
  margin-left: 84rem;
}

/* Media Queries */

/* Mobile Phones */
@media (max-width: 414px) {
  .footer-row {
    display: flex;
    flex-direction: column;
  }
  .footer-col1 {
    /* display: flex; */
    margin-left: 0rem;
  }

  .footer-col2 {
    margin-left: 0rem;
  }

  /* .footer-col2 {
    width: 100%;
    margin-left: 0px;
  } */
}
