.Home {
  min-height: 100vh;
  background: url('https://github.com/CodeMeKathy/mernlab/blob/master/public/cover3.jpg?raw=true')
    no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  /* background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-cover-image {
  /* display: flex; */
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1 !important;
}
.heading {
  color: aliceblue;
}

.home-btn {
  margin-top: 100px;
}

/* Media Queries */

/* Mobile Phones */
@media (max-width: 414px) {
  .heading {
    font-size: 4rem;
    margin-top: 6rem;
  }
  .home-btn {
    margin-top: 0rem;
  }
}
