/* .row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */


.list-container {
  min-height: 75vh;
}

.list-li a :hover {
  color: #CE0100;
}

.title-list {

  color: black
}
