.recipe-details {
  min-height: 100vh;
  width: 1200px;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin: 0 auto;
}


.img-recipedetails {
  height: 300px;
  width: 400px;
}
