/* @import url('https://fonts.googleapis.com/css?family=Lobster'); */

body {
  background-color: #E7D5D5;
}

h1, h6 {
  font-family: 'Lobster', cursive;
}


#tribute-info {
  /* display: flex; */
  text-align: justify;
  height: 450px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  /* justify-items: center !important; */
  font-family: 'Raleway', sans-serif;
}


#image {
  height: 475px;
  width: 300px;
  border-radius: 45%;
  border: 90px;
}
